<!-- Sender Message-->

<div class="message-wrapper">
    <div class="media">
        <img [src]="message.from.photoUrl" alt="user" width="30" class="rounded-circle profile-pic left">
        <div>
            <div class="chat-bubble right">
                <div class="row msg-header-username">
                    <div class="col-12">
                        {{message.from.getFullName()}}
                    </div>
                </div>
                <div class="message" autolinker >
                    {{message.message.content.data}}
                </div>            
          </div>
          <div class="footer-message">
            <p class="small text-muted">{{parseDate(message.message.date)}}</p>
          </div>
        </div>    
    </div>
</div>