<div class="container d-flex flex-column" data-aos="fade-left">
    
    <div class="row vh-100">
        
        <div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
            <div class="d-table-cell align-middle">
                <div class="text-center mt-4">
                    <h1 class="h2">Home</h1>                    
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="m-sm-4">
                            <div class="text-center">
                                <img src="./../../../../assets/img/logo.png" alt="" class="img-fluid rounded-circle" width="142" height="132" />
                            </div>                            
                            <div class="mt-3 mb-3">
                                Login: <a routerLink="/login">Login link</a>
                            </div>
                            <div class="mt-3 mb-3">
                                Registration: <a routerLink="/register">Registration link</a>
                            </div>
                            <div class="mt-3 mb-3">
                                Loading: <a routerLink="/load-data">Loading link</a>
                            </div>
                            <div class="mt-3 mb-3">
                                create-profil: <a routerLink="/create-profil">Create link</a>
                            </div>
                            <div class="mt-3 mb-3">
                                Chat: <a routerLink="/chat">Chat link</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
