<div class="content-disc-infos px-4">
    <div class="row ml-4 ">
        <div class="col-8 selected-user-info">
            <img [src]="imgSrc" width="40" height="40" alt="" class="rounded-circle">
            <div class="user-infos-detail">
                <div class="px-2 pp-user ">{{discName}}</div>
                <div class="detail-online">
                    <div class="online_icon"></div> Online
                </div>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
</div>