.infos-app
{
    min-height: 95.7vh !important;
    padding-top: 40vh;
    background-image: url("/assets/img/bg_image3.jpg");
}

.welcome-text
{
    margin-top: 15px;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
}

.app-name
{
    font-family: 'Caramel', cursive;
}