<a (click)="selectGroup()" [class]="'list-group-item list-group-item-action  list-group-item-light rounded-0 '+ (active?'active':'') ">
  <div class="media">
      <img [src]="img" alt="user" width="50" class="rounded-circle">
      <div class="media-body ml-4">
          <div class="row">
              <div class="col-9">
                  <div class="row">
                      <div class="row align-self-center">
                          <div class="col-12">
                              <h5 class="mb-0 user-name">{{nameGroup}}</h5>
                          </div>
                      </div>
                      <div class="col-12">
                          <div *ngIf="lastMessage.type=='text_message'">
                              <p class="font-italic text-muted mb-0 text-small">{{lastMessage.data}}</p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-3">
                  <div class="row">
                      <div class="col-12">
                          <!-- <small class="small font-weight-bold">{{online?"online":"no online"}}</small> -->
                      </div>
                  </div>
                  <div class="row justify-content-end">
                      <div class="col-5 msg-number align-self-end">
                          <div class="">{{unreadLenght}}</div>
                      </div>
                  </div>
              </div>
          </div>

          <!-- <p class="font-italic text-muted mb-0 text-small">{{lastMessage}}</p> -->
      </div>
  </div>

</a>
