<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title"><b> Create new group </b></h4>
      <button type="button" class="close" (click)="close()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="groupForm" (ngSubmit)="createGroup()">
        <div class="mb-3">
          <label class="form-label">Group name <span class="text-danger" style="font-size: 17px;">*</span></label>
          <input class="form-control form-control-lg" [ngClass]="{ 'is-invalid': submitedForm && groupForm.controls.groupName.errors }" formControlName="groupName"  placeholder="Enter group name" />
          <div *ngIf="submitedForm && groupForm.controls.groupName.errors" class="invalid-feedback text-danger">
              <div *ngIf="groupForm.controls.groupName.errors.required">Group name cannot be null</div>
          </div>
        </div>

        <div class="mb-3">
          <div class="mb-3">
            <label class="form-label">About group</label>
            <textarea class="form-control form-control-lg" formControlName="groupName"  placeholder="Enter group description" ></textarea>

          </div>
        </div>
      </form>
    </div>

    <div class="modal-footer">

      <button (click)="close()" class="btn btn-lg btn-danger">
            Cancel
    </button>

      <button type="submit" [disabled]="(submitedForm==true && groupForm.valid==false) || waitResponse==true" class="btn btn-lg btn-success btn-submit">
          <mat-spinner *ngIf="waitResponse==true" mode="indeterminate"  diameter="15">
          </mat-spinner>
              Create
      </button>
    </div>

    <!-- <button *ngIf="!waitResponse" type="button" class="btn btn-danger" (click)="confirmPayment.hide()"
      style="background-color: rgb(96, 104, 121) !important;">Close</button>
    <button *ngIf="!waitResponse" type="button" class="btn btn-success" style="background-color: green !important;"
      (click)="confirmMessage()">Confirm</button> -->

  </div>
</div>
