<div class="row">
  <div class="col-3 ">
    <div class="row user-profil-info">
      <div class="px-4 py-1 bg-light">
        <div class="row justify-content-between">
          <div class="col-3">
            <img routerLink="/home" src="assets/img/logo.png" width="70" class="rounded-lg" alt="" srcset="">
          </div>
          <div class="col-8"></div>
          <div class="col-1 align-self-center">
            <div class="nav-item dropdown">
							<a class="nav-icon dropdown-toggle" href="#" id="alertsDropdown" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fas fa-ellipsis-v"></i>

							</a>
							<div class="dropdown-menu dropdown-menu-lg dropdown-menu-end py-0" aria-labelledby="alertsDropdown">
								<div class="dropdown-menu-header">

								</div>
								<div class="list-group">

									<a href="#" class="list-group-item icons">
										<div class="row g-0 align-items-center">
											<div class="col-2">
                        <i class="fa fa-users icon text-success"></i>
												<!-- <i class="fas fa- text-success"></i> -->
											</div>
											<div class="col-10">
												<div class="text-dark">New group</div>
												<div class="text-muted small mt-1">Create a new group</div>
											</div>
										</div>
									</a>
                  <a href="#" class="list-group-item icons">
										<div class="row g-0 align-items-center">
											<div class="col-2">
                        <i class="fa fa-cog icon text-primary"></i>
												<!-- <i class="fas fa- text-success"></i> -->
											</div>
											<div class="col-10">
												<div class="text-dark">Setting</div>
												<div class="text-muted small mt-1">Custom the app</div>

											</div>
										</div>
									</a>
                  <a href="#" class="list-group-item icons">
										<div class="row g-0 align-items-center">
											<div class="col-2">
                        <i class="fa fa-sign-out-alt icon text-danger"></i>
												<!-- <i class="fas fa- text-success"></i> -->
											</div>
											<div class="col-10">
												<div class="text-dark">Logout</div>
											</div>
										</div>
									</a>
								</div>
								<div class="dropdown-menu-footer">
									<!-- <a href="#" class="text-muted">Show all notifications</a> -->
								</div>
							</div>
						</div>
          </div>
        </div>
      </div>
    </div>

    <div class="row search-user-bar align-self-center justify-content-center">
      <div class="col-12">
          <div class="row justify-content-center">
            <div class="col-10">
              <app-search-user-bar></app-search-user-bar>
            </div>
          </div>
      </div>
    </div>

    <div class="row messages-box bg-white">
      <div class="col-12">
          <app-list-user-message [listUser]="userDiscussionList" (selectUserEvent)="selectedUserDiscuss($event)"></app-list-user-message>
      </div>
    </div>

  </div>

  <div class="col-9">
    <ng-container *ngIf="hasSelectedDiscuss">
      <div class="row">
        <div class="col-12">
          <app-user-discuss-infos [selectedDiscuss]="selectedDiscussionValueItem" ></app-user-discuss-infos>
        </div>
      </div>
      <div class="row">
        <div class="zone-discuss">
          <div class="row">
            <div class="col-12">
              <app-display-messages [discussFils]="messageToDisplay"></app-display-messages>
            </div>
          </div>
          <app-typing-zone (sendNewMessage)="newMessage($event)"></app-typing-zone>
      </div>
        </div>
    </ng-container>

    <ng-container *ngIf="hasSelectedDiscuss==false">
      <app-infos-chat-app></app-infos-chat-app>
    </ng-container>

  </div>
</div>

